
body {
    font-family: courier;
    text-align: center;
}

h1 {
    margin: 10px;
}

label { 
    display: inline-block;
    width: 150px;
    margin: 10px;
    font-size: 18px;
    text-align: left;
}

span.status { 
    color: gray;
    display: inline-block;
    width: 200px;
    margin: 10px;
    font-size: 16px;
    font-style: italic;
    text-align: right;
}

span.warn { 
    color: orange;
}

span.info { 
    color: green;
}

span.err { 
    color: red;
}

span.local { 
    color: CornflowerBlue;
}

span.remote { 
    color: Navy;
}

#console {
    width: 800px;
    border: 1px solid gray;
    height: 600px;
    overflow: scroll;
    margin: 10px auto;
    text-align: left;
    padding: 5px 10px;
}

input {
    margin: 10px;
    font-size: 18px;
}

input.disabled {
    color: lightGray;
    background: lightSlateGray;
}

input[type="text"] { 
    width: 200px;
    text-align: right;
    padding: 2px 5px;
}

button { 
    width: 100px;
    font-size: 16px;
}

