
body {
    font-family: courier;
}

h1 {
    margin: 10px;
}

label { 
    display: inline-block;
    width: 160px;
    margin: 10px;
    font-size: 16px;
    text-align: left;
}

span.status { 
    color: gray;
    display: inline-block;
    width: 200px;
    margin: 10px;
    font-size: 16px;
    font-style: italic;
    text-align: right;
}

span.warn { 
    color: orange;
}

span.info { 
    color: green;
}

span.err { 
    color: red;
}

span.local { 
    color: CornflowerBlue;
}

span.remote { 
    color: Navy;
}

video {
    border: 1px solid gray;
    margin: 10px;
    width: 344px;
    height: 200px;
}

#console {
    width: 700px;
    border: 1px solid gray;
    height: 400px;
    overflow: scroll;
    margin: 10px;
    text-align: left;
    padding: 5px 10px;
}

input {
    margin: 10px;
    font-size: 18px;
}

input.disabled {
    color: lightGray;
    background: lightSlateGray;
}

input[type="text"] { 
    width: 200px;
    text-align: right;
    padding: 2px 5px;
}

input[type="text"].wide {
    width: 380px;
}

button { 
    color: #FFFFFF;
    background: #475c81;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #737881;
    margin: 10px;
    width: 100px;
    font-size: 16px;
}

button.disabled { 
    color: #7d7d7d;
    background: #CCCDC8;
    border: 1px solid #CCCDC8;
}
